@charset "UTF-8";

body {
    margin:0;
    background-color:#85af43;
    color:#003300;
   /* background-repeat:no-repeat;*/
}

/* **********
 * Bannière
 */
.banniere {
    background-color:white;
    position:relative;
    margin:1ex 0;
    min-width:900px;
    border-style:outset;
    border-color:#663300 #381c00 #381c00 #663300;
    border-width:4px;
    text-align:center;
}
.bannieregauche {
    float:left;
    width:38%;
}
.bannieredroite {
    float:right;
    width:38%;
}

.superpose {
    position:absolute;
    width:100%;
}

/* **********
 * Menu
 */
.menu {
    width:14%;
    height:740px;
    min-width:140px;
    padding:2px;
    border-style:inset outset;
    border-color:#381c00 #663300;
    border-width:4px;
    font-family:sans-serif;
    font-size:medium;
    color:#009900;
    background-color:transparent;
}

.menu img { /* Le logo du menu */
    display:block;
    width:110px;
/*    margin:13px 6.5ex 0;*/
    margin:2ex auto 0px;
    text-align:center;
}

.menu a img { /* Images cliquables : contact */
    display:inline;
    border:none;
    margin:0;
    vertical-align:top;
    height:1.1em;
    width:1.1em;
}

.menu h2 {
    margin:10px;
    border:4px outset #003300;
    font-family:sans-serif;
    font-weight:bold;
    font-variant:small-caps;
    text-align:center;
    color:#003300;
}

.menu ul {
    margin:0;
    padding:0;
    text-align:center;
    list-style:none;
}

    /* Liens */
.menu a {
    text-decoration:none;
}
.menu a:hover {
    font-style:italic;
    text-decoration:underline;
}
.menu a:link {
    color:#009900;
}
.menu h2 a:link {
    color:#003300;
}
.menu h2 a:visited {
    color:#003300;
}
.menu li a:visited {
    color:#009900;
}

#horloge {
    display:block;
    margin: 190px auto 1ex;
    text-align:center;
}

/* 
 * Connexion
 */
.connect p {
    text-align: center;
}
.connect input {
    max-width: 150px;
}

/* **********
 * Corps
 */
h2 {
    font-weight:bolder;
    font-size:large;
}

p:first-letter {
    padding-left:1ex;
}

ul {
    margin-left:1ex;
    list-style-type:square;
}

ol {
    margin-left:1ex;
}

dl {
    padding-left: 1em;
}

dt {
    font-weight: bold;
    margin-top: 0.7ex;
}

dd {
    margin-top: 0.2ex;
}

.bord {
    height:744px;
    margin:0px auto;
    border:4px double #663300;
    width:67%;
}

.corps {
    height:96.5%;
    padding:1.5%;
    font-family:cursive;
    font-size:medium;
    text-align:left;
    color:#003300;
    background-color:white;
    overflow:auto;
}

.corps h1 {
    margin:0.3em 15% 0.8em;
    padding:3px;
    border:4px outset #006600;
    background-color:#009900;
    background-position:right top;
    background-image:url('../images/fond_titre.jpg');
    max-width:905px;
    max-height:255px;
    font-family:sans-serif;
    font-weight:bold;
    font-size:xx-large;
    text-align:center;
    color:white;
}

.corps h2 {
    margin-top:1.8em;
    text-align:center;
    font-size:xx-large;
}

.corps h3 {
    margin-top:1.5em;
    margin-left:4em;
    font-size:x-large;
}

.corps h4 {
    margin-left:2em;
    font-size:large;
}

.corps h5 {
    margin-left:-0.2ex;
    margin-bottom:0.2ex;
    font-weight: bold;
}

.surligner {
    background-color:#FFFF00;
}

.message_important {
    color:#CC0000;
}
.message_avertissement {
    color:#880000;
}

    /* Images */
.corps img {
    width:220px;
    margin:1ex;
    vertical-align:top;
}
.corps a img {
    border:none;
}

.img_gauche {
    float:left;
}
.img_droite {
    float:right;
}

.legende_gauche {
    margin:1ex;
    float:left;
}
.legende_droite {
    margin:1ex;
    float:right;
}
.legende_gauche p, .legende_droite p {
    text-align:center;
    font-size:x-small;
}

    /* Pied */
.pied {
    margin:1ex 0 0.5ex;
    padding:1px 0.8ex;
    border:1px solid #663300;
    background-color:white;
    font-family:sans-serif;
    font-size:x-small;
    color:black;
}

.pied table {
    width:100%;
}

    /* Lien "modifier" */
.modifier {
    font-size:x-small;
    float:right;
    margin:0.4ex;
    text-align:right;
}
.modifier a {
    color:#009900;
}
.modifier a:visited {
    color:#009900;
}

/*
 * Formulaire
 */
fieldset {
	margin:1ex auto;
}
fieldset ul li {
    margin-top:0.5ex;
}
legend {
	font-size:Large;
    color:#009900;
}
label {
	font-size:medium;
}
input[type="submit"] {
    margin-top:0.8ex;
    font-weight:600;
}

.contact {
    width:91%;
    margin:auto;
}
.contact ul {
    list-style:none;
    margin-left:0;
}
.contact li {
    margin-bottom:1.1ex;
}
.contact li ul {
    margin-top:1ex;
}
.contact input[type="button"] {
    margin-top:1.5ex;
}

.form_table {
    margin:1ex auto;
    min-width:80%;
}
