@charset "UTF-8";

@font-face {
    font-family: "Qlassik";
    src: url('polices/Qlassik_TB.ttf');
    }

@font-face {
    font-family: "Qlassik B";
    src: url('polices/QlassikBold_TB.ttf');
    }

@font-face {
    font-family: "Howies Funhouse";
    src: url('polices/Howie_s_Funhouse.ttf');
    }

body {
    margin: 0;
    background-color: #85af43;
    color: #003300;
   /* background-repeat: no-repeat;*/
    background-position: center top;
    background-image: url('images/fond.jpg');
    background-attachment: fixed;
    }

h2 {
    font-weight: bolder;
    font-size: large;
    }

ul {
    margin-left: 1ex;
    list-style-type: square;
    }

    /* **********
     * Bannière
     */
.banniere {
    position: relative;
    margin: 1ex 0;
	min-width: 900px;
    border-style: outset;
    border-color: #663300 #381c00 #381c00 #663300;
    border-width: 4px;
    background-color: white;
    text-align: center;
    }
.bannieregauche {
    float: left;
    width: 38%;
    }
.bannieredroite {
    float: right;
    width: 38%;
    }
.bannieredroite img {
    -moz-transform: matrix(-1,0,0,1,0,0);
    }

.superpose {
    position: absolute;
    width: 100%;
    }
.superpose img {
    z-index: 1;
    }

    /* **********
     * Menu
     */
.menu {
    width: 14%;
    height: 740px;
	min-width: 140px;
    padding: 2px;
    border-style: inset outset;
    border-color: #381c00 #663300;
    border-width: 4px;
    background-color: transparent;
	background-image: url('images/menufd.png');
	background-repeat: repeat;
    font-family: "Qlassik", "DejaVu Sans Condensed", sans-serif;
    font-size: medium;
    color: #009900;
    }

.menu img { /* Le logo du menu */
    display: block;
    width: 110px;
/*    margin: 13px 6.5ex 0;*/
    margin: 2ex auto 0px;
    text-align: center;
    opacity: 0.75;
    }

.menu h2 {
    margin: 10px;
    border: 4px outset #003300;
    font-family: "Qlassik B", sans-serif;
    font-variant: small-caps;
    text-align: center;
    color: #003300;
    }

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    }

    /* Liens
     */
.menu a {
    text-decoration: none;
	}
.menu a:hover {
	font-style: italic;
    text-decoration: underline;
    }
.menu a:link {
    color: #009900;
	}
.menu h2 a:link {
    color: #003300;
    }
.menu h2 a:visited {
    color: #003300;
    }
.menu li a:visited {
    color: #009900;
    }
	
    /* **********
     * Corps
     */
p:first-letter {
    margin-left: 1em;
    }

.bord {
    height: 744px;
    margin: 0px auto;
    border: 4px double #663300;
	width: 67%;
    }

.corps {
    height: 96.5%;
    padding: 1.5%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url('images/incrustation_bambou.jpg');
    font-family: "Howies Funhouse", cursive;
    font-size: medium;
    text-align: left;
    color: #003300;
    overflow: auto;
    }

.corps h1 {
    margin: 0.2em 15% 0.8em;
    padding: 3px;
    border: 4px outset #006600;
    background-color: #009900;
    background-position: right top;
    background-image: url('images/fond_titre.jpg');
    max-width: 905px;
    max-height: 255px;
    font-family: "Qlassik B", sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: white;
    }

.corps img {
    width: 220px;
    margin: 1ex;
    float: left;
    vertical-align: top;
    }

.corps img:hover {
    position: absolute;
    width: 80%;
    top: 0px;
    left: 0px;
    z-index: 5;
    }


.pied {
    margin: 1ex 0 0.5ex;
    padding: 1px 1ex;
    border: 1px solid #663300;
    background-color: white;
    font-family: "Howies Funhouse", sans-serif;
    text-align: right;
    color: black;
    }
